@import '../../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: #ffffff;
  font-family: $font-family-base;

  background: linear-gradient(
      rgba(61, 66,90, 0.78),
      rgba(61, 66,90, 0.78)
    );//,
    //url("../../../photographs/FushimiInariLight.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Landing-Content {
  padding-left: 10%;
  position:fixed;
  bottom: 12%;

  text-align: center;
}

.Landing-Header {
  font-size: 60pt;
  letter-spacing: 5px;
  font-weight: $font-weight-regular;
}

.Landing-Buttons {
  margin: 0 auto;
}

.Landing-Buttons > .Button {
  margin: 0 35px;
}

@media (max-width: $screen-sm-min) {
  .Landing-Header {
    font-size: 9vw;
    letter-spacing: 4px;
  }

  .Landing-Content {
    padding-left: 4%;
  }

  .Landing-Buttons > .Button {
    width: 40%;
    max-width: 180px;
    font-size: 13pt;
    margin: 0 5%;
    padding: 8px 0;
  }
}

@media (max-width: $screen-xs-min) {
  .Landing-Content {
    padding-left: 2%;
  }

  .Landing-Buttons > .Button {
    width: 40%;
    font-size: 3.5vw;
    margin: 0 2%;
    padding: 8px 0;
  }
}

@media (max-width: $screen-md-min) and (min-width: $screen-sm-min) {
  .Landing-Content {
    padding-left: 7%;
  }
}

@media (min-width: $screen-lg-min) {
  .Landing-Content {
    padding-left: 12%;
  }
}
