@import '../variables.scss';

.Button:link, .Button:visited {
  background-color: $teal-color;
  color: #FFFFFF;
  width: 190px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16pt;
  margin: 10px;
  font-weight: $font-weight-light;
}

.Button:active, .Button:hover {
  background-color: $button-hover-teal;
}
