@import '../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: #FFFFFF;
  font-family: $font-family-base;

  background: linear-gradient(
      rgba(61, 66,90, 0.78),
      rgba(61, 66,90, 0.78)
    ),
    url("../../photographs/FushimiInariLight.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Landing-Content {
  padding-left: 10%;
  position:fixed;
  width:100%;
  bottom: 12%;

}

.Landing-Header {
  font-size: 60pt;
  letter-spacing: 5px;
  font-weight: normal;
}

@media (max-width: $screen-sm-min) {
  .Landing-Header {
    font-size: 9vw;
  }

  .Landing-Content {
    padding-left: 4%;
  }
}

@media (max-width: $screen-md-min) and (min-width: $screen-sm-min) {
  .Landing-Content {
    padding-left: 7%;
  }
}

@media (min-width: $screen-lg-min) {
  .Landing-Content {
    padding-left: 12%;
  }
}
